ul{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    background-color: black;
    color: white;
    border: 7px solid pink;
    border-radius: 2px;
    margin-left: 5px;
    padding: 20px;
}
.nav-item > a {
    text-decoration: none;
    color: white;
}